<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="nav-sidebar" class="sidebar sidebar-open">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
        class="oi oi-home"></i> Home
    </a></li>
  </ul>

  <ul class="nav nav-pills">
    <li class="nav-item"><span class="nav-link active">Bairros</span>
    </li>
    <li class="nav-item"><a class="nav-link" th:href="@{/bairros/cadastrar}"> <i class="oi oi-plus"></i> Cadastrar</a>
    </li>
    <li class="nav-item"><a class="nav-link" th:href="@{/bairros/listar}"> <i class="oi oi-spreadsheet"></i> Listar</a>
    </li>
  </ul>

  <ul class="nav nav-pills">
    <li class="nav-item"><span class="nav-link active">Cidades</span></li>
    <li class="nav-item"><a class="nav-link" th:href="@{/cidades/cadastrar}"> <i class="oi oi-plus"></i> Cadastrar</a>
    </li>
    <li class="nav-item"><a class="nav-link" th:href="@{/cidades/listar}"> <i class="oi oi-spreadsheet"></i> Listar</a>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li class="nav-item"><span class="nav-link active">Eleitores</span></li>
    <li class="nav-item"><a class="nav-link" th:href="@{/eleitores/cadastrar}"> <i class="oi oi-plus"></i> Cadastrar</a>
    </li>
    <li class="nav-item"><a class="nav-link" th:href="@{/eleitores/listar}"> <i class="oi oi-spreadsheet"></i> Listar</a>
    </li>
  </ul>
</nav>
</body>
</html>